<head>
  <title>Consultas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
</head>
<ng-container *ngIf="showNavBar">
  <app-navbar></app-navbar>
</ng-container>
<div class="row">
  <div class="col-md-12">
    <app-consultas-busqueda-filtrada (searchFiltered)="realizarBusquedaFiltrada($event)"></app-consultas-busqueda-filtrada>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="button-container">
      <button class="add-button" (click)="nuevaSolicitud()">Nueva Solicitud</button>
    </div>
    <div id="table-container" *ngIf="consultas; else noData">
      <table id="medicos-table" class="table table-hover">
        <thead>
        <tr>
          <th></th>
          <th class="text-center">Fecha</th>
          <th class="text-center" *ngIf="user_type == 'paciente'">Medico Asignado</th>
          <th class="text-center" *ngIf="user_type == 'medico'">Paciente</th>
          <th class="text-center" *ngIf="user_type == 'paciente'">Tipo de consulta</th>
          <th class="text-center" *ngIf="user_type == 'paciente'">Estado de la consulta</th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let consulta of consultas">
          <td></td>
          <td  class="text-center">{{consulta.fecha.dayOfMonth}}/{{consulta.fecha.monthValue}}/{{consulta.fecha.year}}</td>
          <td  class="text-center" *ngIf="user_type == 'paciente'">{{ consulta.medicoOutDto.nombre }} {{ consulta.medicoOutDto.apellidos}}</td>
          <td  class="text-center" *ngIf="user_type == 'medico'">{{ consulta.pacienteOutDto.nombre }} {{ consulta.pacienteOutDto.apellidos}}</td>
          <td  class="text-center" *ngIf="user_type == 'paciente'">{{ consulta.medicoOutDto.especialidad }}</td>
          <td  class="text-center" *ngIf="user_type == 'paciente'">{{ consulta.estado }}</td>
          <td class="text-center" *ngIf="user_type == 'paciente'">
            <button class="details-button">
              <i class="fas fa-search" (click)="verDetalles(consulta)"> Detalles </i>
            </button>
          </td>
          <td class="text-center" *ngIf="user_type == 'medico'">
            <button class="details-button">
              <i class="fas fa-search" (click)="verSolicitud(consulta)"> Ver consulta </i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template class="message-container" #noData>
  <p class="message" >{{ noDataMessage }}</p>
</ng-template>
