<h1 mat-dialog-title><b>Resolución de consulta</b></h1>
<div mat-dialog-content>
  <label for="observacion">Observacion:</label>
  <textarea type="string" id="observacion" [(ngModel)]="resolucion.observacion" required class="form-control"></textarea>

  <label for="diagnostico">Diagnóstico:</label>
  <textarea type="string" id="diagnostico" [(ngModel)]="resolucion.diagnostico" class="form-control"></textarea>

  <label for="tratamiento">Tratamiento:</label>
  <textarea type="string" id="tratamiento" [(ngModel)]="resolucion.tratamiento" class="form-control"></textarea>

  <label *ngIf="tipoResolucion == 'DERIVACION'">Derivar a:</label>
  <select *ngIf="tipoResolucion == 'DERIVACION'" id="especialidad" [(ngModel)]="especialidad" class="form-control">
    <option></option>
    <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
  </select>

  <label for="estado">Estado:</label>
  <select id="estado" [(ngModel)]="solicitud.estado" required class="form-control">
    <option [defaultSelected]="0" value="0">Solicitud recibida</option>
    <option value="1">Solicitud cerrada</option>
    <option value="2">Solicitud derivada</option>
  </select>

  <div *ngIf="modificarHistorialActivo">
    <label for="medicacion">Medicación:</label>
    <input type="text" id="medicacion" [(ngModel)]="resolucion.medicacion" class="form-control">
  </div>

  <div *ngIf="modificarHistorialActivo">
    <label for="enfermedad">Enfermedad diagnosticada:</label>
    <input type="text" id="enfermedad" [(ngModel)]="resolucion.enfermedad" class="form-control">
  </div>

  <div *ngIf="modificarHistorialActivo">
    <label for="alergia">Alergia:</label>
    <input type="text" id="alergia" [(ngModel)]="resolucion.alergia" class="form-control">
  </div>
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="alternarCamposHistorial()">
    {{ modificarHistorialActivo ? 'No modificar' : 'Modificar datos clínicos del paciente' }}
  </button>
  <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
  <button mat-button mat-dialog-close="">Cerrar</button>
</div>

