<h1 mat-dialog-title>Cambio de contraseña</h1>
<div mat-dialog-content>
  <form id="form" [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="actual">Contraseña actual:</label>
      <input type="password" id="actual" formControlName="actual" name="actual" class="form-control"
             placeholder="Ingrese la constraseña actual" required>
    </div>
    <div class="form-group">
      <label for="nueva">Nueva contraseña:</label>
      <input type="password" id="nueva" formControlName="nueva" minlength="8" name="nueva" class="form-control"
             placeholder="Ingrese su nueva contraseña (mínimo 8 caracteres)" required>
    </div>
    <div class="form-group">
      <label for="repetida">Repite la contraseña:</label>
      <input type="password" id="repetida" formControlName="repetida" name="repetida" class="form-control"
             placeholder="Repita su nueva contraseña" required>
    </div>
  </form>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-raised-button color="primary" (click)="changePassword()">Cambiar</button>
  <button mat-button mat-dialog-close="">Volver</button>
</div>

