<h1 mat-dialog-title>Detalles</h1>
<div mat-dialog-content>
  <p><strong>Nombre: </strong> <span id="nombre">{{medico.nombre}}</span></p>
  <p><strong>Apellidos: </strong> <span id="apellidos">{{medico.apellidos}}</span></p>
  <p><strong>DNI: </strong> <span id="dni">{{medico.dni}}</span></p>
  <p><strong>Fecha de Nacimiento: </strong> <span id="fechaNacimiento">{{medico.fechaNacimiento.dayOfMonth}}-{{medico.fechaNacimiento.monthValue}}-{{medico.fechaNacimiento.year}}</span></p>
  <p><strong>Sexo: </strong> <span id="sexo">{{medico.sexo}}</span></p>
  <p><strong>Email: </strong> <span id="email">{{medico.email}}</span></p>
  <p><strong>Teléfono: </strong> <span id="telefono">{{medico.telefono}}</span></p>
  <p><strong>Especialidad: </strong> <span id="especialidad">{{medico.especialidad}}</span></p>
  <p><strong>Número de Colegiado: </strong> <span id="numeroDeColegiado">{{medico.numeroDeColegiado}}</span></p>
</div>
<!--<button>-->
<!--  <button class="button-container" (click)="activar(medico.id)">Activar</button>-->
<!--</button>-->
<div mat-dialog-actions class="button-container">
  <button mat-raised-button color="primary" *ngIf="!medico.activo" (click)="activar(medico.id)">Activar</button>
  <button mat-raised-button color="warn" (click)="eliminar(medico.id)">Eliminar</button>
  <button mat-button mat-dialog-close="">Cerrar</button>
</div>

