<div id="table-container">
  <table id="pacientes-table" class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Historial Clinico</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let paciente of pacientesAsignados">
      <td>{{ paciente.nombre }}</td>
      <td>{{ paciente.apellidos }}</td>
      <td>{{ paciente.fecha_nacimiento }}</td>
      <td>{{ paciente.altura }}</td>
      <td>{{ paciente.peso }}</td>
      <td>
        <button class="btn btn-primary"><i class="bi bi-paperclip" (click)="mostrarHistorial()"></i></button>
      </td>
      <td>
        <button (click)="mostrarHistorial()"></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
