<h1 mat-dialog-title>Historial Médico</h1>
<div mat-dialog-content>
  <p><strong>Fecha: </strong> <span id="fecha">{{consulta.fecha.dayOfMonth}}/{{consulta.fecha.monthValue}}/{{consulta.fecha.year}}</span></p>
  <p><strong>Medico asignado: </strong> <span id="medico">{{consulta.medicoOutDto.nombre}} {{consulta.medicoOutDto.apellidos}}</span></p>
  <p><strong>Descripcion: </strong> <span id="descripcion">{{consulta.descripcion}}</span></p>
  <p><strong>Estado: </strong> <span id="estado">{{consulta.estado}}</span></p>
</div>
<!--<div>-->
<!--  <h2>Archivos Adjuntos:</h2>-->
<!--  <div *ngFor="let archivo of consulta.archivos">-->
<!--    <ng-container *ngIf="isImageFile(archivo)">-->
<!--      <img [src]="getFileURL(archivo)" alt="Imagen">-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="isVideoFile(archivo)">-->
<!--      <video [src]="getFileURL(archivo)" controls></video>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--</div>-->
<div mat-dialog-actions class="button-container">
<!--  <button mat-button color="primary" (click)="showDigitalData()">Ver Imágenes/Videos</button>-->
  <a *ngIf="anyArchivo" class="navf button"
     [routerLink]="['archivos', consulta.id]"
     target="_blank">Ver Imágenes/Videos</a>
  <button mat-button mat-dialog-close="">Cerrar</button>
</div>

