.container {
  margin-left: 100px;
  margin-top: 40px;
  gap: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  padding: 20px;
  box-sizing: content-box;
  overflow: auto;
  max-width: calc(100% - 250px);
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  max-width: calc(100% - 200px);
  margin-top: 30px;
  margin-left: 100px;
}

.info-paciente {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.info-consulta {
  font-size: 18px;
}

span {
  margin-right: 20px;
  width: 33%;
}

h2, h3 {
  margin-top: 30px;
}

.button-container button {
  margin-right: 20px;
  border-radius: 10px;
}

.edit-profile-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}

.change-password-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.request-test {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.back-button {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.prueba-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

