<head>
  <title>Consulta</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        crossorigin="anonymous"/>
</head>
<div class="header">
  <h1>Solicitud de consulta</h1>

  <div class="button-container">
    <button class="edit-profile-button">Responder</button>
    <button class="change-password-button">Derivar</button>
    <button class="back-button">Volver</button>
  </div>
</div>

<div class="container">
  <h3>Informacion del paciente</h3>
  <div class="info-paciente">
    <p><strong>Nombre: </strong> <span
      id="nombre">{{consulta.pacienteOutDto.nombre}} {{consulta.pacienteOutDto.apellidos}}</span></p>
    <p><strong>Fecha de nacimiento: </strong> <span
      id="fechaNacimiento">{{consulta.pacienteOutDto.fechaNacimiento.dayOfMonth}}/{{consulta.pacienteOutDto.fechaNacimiento.monthValue}}/{{consulta.pacienteOutDto.fechaNacimiento.year}}</span>
    </p>
    <p><strong>Altura: </strong> <span id="altura">{{consulta.pacienteOutDto.altura}} cm</span></p>
    <p><strong>Peso: </strong> <span id="peso">{{consulta.pacienteOutDto.peso}} kg</span></p>
    <p><strong>Fumador: </strong>
      <span id="fumadorSi" *ngIf="consulta.pacienteOutDto.fumador">Si</span>
      <span id="fumadorNo" *ngIf="!consulta.pacienteOutDto.fumador">No</span>
    </p>
    <p><strong>Alergias: </strong>
      <span id="alergiasSi" *ngIf="consulta.pacienteOutDto.alergias.length != 0">{{consulta.pacienteOutDto.alergias}}</span>
      <span id="alergiasNo" *ngIf="consulta.pacienteOutDto.alergias.length == 0">Ninguna</span>
    </p>
    <p><strong>Enfermedades diagnosticadas: </strong>
      <span id="enfermedadesSi" *ngIf="consulta.pacienteOutDto.enfermedadesDiagnosticadas.length != 0">{{consulta.pacienteOutDto.enfermedadesDiagnosticadas}}</span>
      <span id="enfermedadesNo" *ngIf="consulta.pacienteOutDto.enfermedadesDiagnosticadas.length == 0">Ninguna</span>
    </p>
    <p><strong>Intervenciones: </strong>
      <span id="intervencionesSi" *ngIf="consulta.pacienteOutDto.intervenciones.length != 0">{{consulta.pacienteOutDto.intervenciones}}</span>
      <span id="intervencionesNo" *ngIf="consulta.pacienteOutDto.intervenciones.length == 0">Ninguna</span>
    </p>
    <p><strong>Medicación actual: </strong>
      <span id="medicacionSi" *ngIf="consulta.pacienteOutDto.medicacionActual.length != 0">{{consulta.pacienteOutDto.medicacionActual}}</span>
      <span id="medicacionNo" *ngIf="consulta.pacienteOutDto.medicacionActual.length == 0">Ninguna</span>
    </p>
  </div>
  <div class="info-consulta">
    <h3>Informacion de la consulta</h3>
    <p><strong>Fecha: </strong> <span id="fecha2">{{consulta.fecha.dayOfMonth}}/{{consulta.fecha.monthValue}}
      /{{consulta.fecha.year}}</span></p>
    <p><strong>Descripción: </strong> <span id="descripcion2">{{consulta.descripcion}}</span></p>
  </div>

  <div class="archivos" *ngIf="anyArchivo">
    <p><strong>Archivos:</strong></p>
  </div>
  <div mat-dialog-actions class="button-container">
    <div *ngFor="let image of images">
      <img id="myimage" [src]='image'/>
    </div>
  </div>
</div>
