<head>
  <title>Medicos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<ng-container *ngIf="showNavBar">
  <app-navbar></app-navbar>
</ng-container>
<div class="container">
  <h1>Solicitud</h1>
  <form (submit)="enviarSolicitud()" class="my-4">
    <div class="form-group">
      <label for="dolencia">Descripción de la dolencia:</label>
      <textarea id="dolencia" name="dolencia" [(ngModel)]="solicitud.descripcion" required class="form-control"></textarea>
    </div>
    <div class="form-group">
      <span>Adjuntar archivos: ({{ filesSize() }} MB/100MB) </span>
      <input type="file" id="adjuntos" name="adjuntos" #adjuntosInput multiple accept="image/*, video/*"
             class="form-control-file" (change)="adjuntosSeleccionados(adjuntosInput.files)" style="color: transparent;">
    </div>
    <div *ngIf="adjuntos.length > 0" class="form-group mb-4">
      <label>Archivos adjuntos:</label>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let adjunto of adjuntos; let i = index">
          <span>{{ adjunto.name }}</span>
          <button type="button" class="fas fa-times delete-button" (click)="eliminarAdjunto(i)"></button>
        </li>
      </ul>
    </div>
    <button type="submit" class="send-button">Enviar solicitud</button>
    <button type="button" (click)="back()" class="back-button">Volver</button>
  </form>

</div>
